exclude: ^(node_modules/|output/|dist/)$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: trailing-whitespace
      - id: mixed-line-ending
      - id: end-of-file-fixer

  - repo: https://github.com/c18t/pre-commit-hooks
    rev: v1.3.0
    hooks:
      - id: pretty-quick
      - id: shellcheck
      - id: yamllint

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.18.1
    hooks:
      - id: markdownlint-cli2

  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: '3.0.0'
    hooks:
      - id: script-must-have-extension
