:root {
  --lightningcss-light: initial;
  --lightningcss-dark: ;
  --lightningcss-light: initial;
  --lightningcss-dark: ;
  color-scheme: light dark;
  color: #ffffffde;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #242424;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Noto Sans,
    Ubuntu,
    Cantarell,
    Helvetica Neue,
    Avenir,
    Helvetica,
    Arial,
    sans-serif;
  font-weight: 400;
  line-height: 1.5;
}
@media (prefers-color-scheme: dark) {
  :root {
    --lightningcss-light: ;
    --lightningcss-dark: initial;
  }
}
a {
  color: #646cff;
  -webkit-text-decoration: inherit;
  -webkit-text-decoration: inherit;
  text-decoration: inherit;
  font-weight: 500;
}
a:hover {
  color: #535bf2;
}
body {
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  display: flex;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #fff;
  }
}
p {
  white-space: pre-wrap;
}
p br {
  display: none;
}
