{{ define "layout" -}}
<!doctype html>
<html lang="ja">
  <head {{- if .Og }} prefix="og: http://ogp.me/ns#" {{ end -}}>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {{ if .PageTitle }}{{ .PageTitle }} / {{ else }}{{ end }}日報 -
      nippo.c18t.me
    </title>
    <meta name="description" content="{{ .Description }}" />
    <link rel="canonical" href="{{ .Url }}" />
    <link rel="alternate" type="application/rss+xml" href="/feed.xml" />
    <link
      rel="search"
      type="application/opensearchdescription+xml"
      title="nippo.c18t.me"
      href="/opensearch.xml"
    />

    {{- if .Og }}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@c18t" />
    {{ if .Og.Url }}
    <meta property="og:url" content="{{ .Og.Url }}" />
    {{ end }} {{ if .Og.Title }}
    <meta property="og:title" content="{{ .Og.Title }}" />
    {{ end }} {{ if .Og.Description }}
    <meta property="og:description" content="{{ .Og.Description }}" />
    {{ end }} {{ if .Og.ImageUrl }}
    <meta property="og:image" content="{{ .Og.ImageUrl }}" />
    {{ end }} {{- end }}

    <link rel="preload" href="/nippo.css" as="style" />
    <link rel="modulepreload" href="/nippo.js" />
    <link rel="stylesheet" href="/nippo.css" />
    <script type="module" src="/nippo.js"></script>
  </head>
  <body>
    {{ block "header" . }} {{ end }} {{ block "content" . }}
    <p>not found.</p>
    {{ end }} {{ block "footer" . }} {{ end }}
  </body>
</html>
{{- end }}
