{{ define "layout" -}}
<!DOCTYPE html>
<html lang="ja">
<head {{- if .Og }} prefix="og: http://ogp.me/ns#"{{ end -}}>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="alternate" type="application/rss+xml" href="/feed.xml">
  <link rel="search" type="application/opensearchdescription+xml" title="nippo.c18t.net" href="/opensearch.xml">
  <link rel="canonical" href="{{ .Url }}">
  {{- if .Og }}
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@c18t">
  {{ if .Og.Url }}<meta property="og:url" content="{{ .Og.Url }}">{{ end }}
  {{ if .Og.Title }}<meta property="og:title" content="{{ .Og.Title }}">{{ end }}
  {{ if .Og.Description }}<meta property="og:description" content="{{ .Og.Description }}">{{ end }}
  {{ if .Og.ImageUrl }}<meta property="og:image" content="{{ .Og.ImageUrl }}">{{ end }}
  {{- end }}
  <title>{{ if .PageTitle }}{{ .PageTitle }} / {{ else }}{{ end }}日報 - nippo.c18t.net</title>
</head>
<body>
{{ block "header" . }}
{{ end }}
{{ block "content" . }}
  <p>not found.</p>
{{ end }}
{{ block "footer" . }}
{{ end }}
</body>
</html>
{{- end }}
