{{ define "calender" -}}
<div class="calender-wrap">
  <table class="calender">
    <thead>
      <tr>
        <th class="sun">Sun</th>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th class="sat">Sat</th>
      </tr>
    </thead>
    <tbody>
    {{- range $i, $row := . }}
      <tr>
      {{- range $el := $row }}
        {{- if $el.HasContent }}
        <td
          {{- if $i eq 0 -}} class="sun"{{- end -}}
          {{- if $i eq 6 -}} class="sat"{{- end -}}
        >
          <a href="/{{ $el.Date }}">{{ slice $el.Date }}</a>
        </td>
        {{- else }}
        <td
          {{- if $i eq 0 -}} class="sun off"{{- end -}}
          {{- if $i eq 6 -}} class="sat off"{{- end -}}
        >{{ slice $el.Date }}</td>
        {{- end }}
      {{- end }}
      </tr>
    {{- end }}
    </tbody>
  </table>
</div>
{{- end }}
