{{ define "calender" -}}
<h1>{{ .Date }}</h1>
<div class="calender-wrap">
  <table class="calender">
    <thead>
      <tr>
        <th class="sun">Sun</th>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th class="sat">Sat</th>
      </tr>
    </thead>
    <tbody>
    {{- range $row := .Calender.Weeks }}
      <tr>
      {{- range $i, $el := $row }}
        {{- if $el.HasContent }}
        <td
          {{- if eq $i 0 }} class="sun"
          {{- else if eq $i 6 }} class="sat"
          {{- else }}{{- end -}}
        >
          <a href="/{{ $el.Date }}">{{ $el }}</a>
        </td>
        {{- else }}
        <td
          {{- if eq $i 0 }} class="off sun"
          {{- else if eq $i 6 }} class="off sat"
          {{- else }} class="off"{{- end -}}
        >{{ if $el.Date }}{{ $el }}{{ end }}</td>
        {{- end }}
      {{- end }}
      </tr>
    {{- end }}
    </tbody>
  </table>
</div>
{{- end }}
